<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="../">
      <img src="/images/logo.png" width="100" height="120" alt="logo">
    </a>
    <div class="nav">
      <h1> WELCOME BACK,</h1>
      <h1> {{user.name}}</h1>
      <a href="/logout">Logout</a>
    </div>
  </nav>
</header>

<div class="bg-log-signup">
  <div class="container-log-sign profile-ctn style-form">
    <div class="user-pic flex-profile">
      <img src="{{user.imgPath}}" alt=""/>
      <form action="/auth/profile" method="POST" id="form" class="box-login style-container aj-ctn">
        <h3> Hi my name is: <i> {{user.name}} </i></h3>
        {{!-- <label for="name">Do you want change your name?</label>
        <input type="text" name="name">
        <label for="phone">Edit your Phone:</label>
        <input type="number" name="phone"> --}}
        <h3> Phone number:<i> {{user.phone}} </i></h3>
        <h3> My Food preferences:<i> {{user.food_preferences}} </i></h3>
        <h3> My Cooking Skills:<i> {{user.cooking_Skills}} </i></h3>
      </form>
    </div>
    <div class="pref-container">
      <a href="/auth/profile-edit" class="button style-btn" > Update your profile </a> 
      </br>
      <a href="/events/create-event" class="button style-btn"> Host your CoMeal!! </a>
      {{!-- <div class="skills-container">
        <label for="food_preferences" class="title-preferences">Food Preferences:</label>
        <div class="form-options">
          <input type="checkbox" name="food_preferences" value="burguer">Burguer<br>
          <input type="checkbox" name="food_preferences" value="italian">Italian<br>  
          <input type="checkbox" name="food_preferences" value="vegetarian">Vegetarian<br>
          <input type="checkbox" name="food_preferences" value="eggs">Eggs<br>
          <input type="checkbox" name="food_preferences" value="gluten">Gluten<br> --}}
        </div>
      </div>
      
      {{!-- <div class="skills-container">
        <label for="cooking_Skills" class="title-preferences">Cooking Skills:</label>
        <div class="form-options">
          <input type="checkbox" name="cooking_Skills" value="Professional Dish Washer"> Professional Dish Washer <br>
          <input type="checkbox" name="cooking_Skills" value="Jedi Chef"> Jedi Chef <br>
          <input type="checkbox" name="cooking_Skills" value="Wine Guy"> Wine Guy <br>
          <input type="checkbox" name="cooking_Skills" value="I know how to fry an egg"> I know how to fry an egg <br>
          <input type="checkbox" name="cooking_Skills" value="Padawan Chef">Padawan Chef<br>
        </div> --}}
      </div>
    </div>
      {{!-- <h3> Change my Quote: {{user.Quote}}  </h3>
      <label for="" class="title-preferences">Resume yourself in one quote:</label>
      <input type="text" name="Quote" id="required-name" class="quote-ctn">
      <button type="submit" class="style-btn btn-signup">SUBMIT</button>
       --}}
     
</div>
