<div class = "logo">
  <img src="/images/logo.png" width=11% alt="logo">
</div>
<div class = "profile">
<h1>User Profile</h1>
{{#each users}}
<p>{{ this.name }}</p>
{{/each}}
</div>

<a href="events/create-event">Become a host</a>


{{!--Upload profile photo --}}
<section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>

<section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section>

UPDATE/EDIT YOUR PROFILE 

<form action="/auth/profile" method="POST" id="form">
  
  <p> Hi my name is: {{name}}  </p>
  <label for="name">   Do you want change your name </label>
  <input type="text" name="name">
  
  <p> Phone number: {{phone}}  </p>
  <label for="">Phone:</label>
  <input type="number" name="phone">
  
<p> My Food preferences: {{food_preferences}}  </p>

  <label for="">Food Preferences:</label>
  <input type="checkbox" name="food_preferences" value="burguer">Burguer<br>
  <input type="checkbox" name="food_preferences" value="italian">Italian<br>  
  <input type="checkbox" name="food_preferences" value="vegetarian">Vegetarian<br>
  <input type="checkbox" name="food_preferences" value="eggs">Eggs<br>
  <input type="checkbox" name="food_preferences" value="gluten">Gluten<br>

<p> My Cooking Skills: {{cooking_Skills}}  </p>
  <label for="">Cooking Skills:</label>
  <input type="checkbox" name="cooking_Skills" value="Professional Dish Washer"> Professional Dish Washer <br>
  <input type="checkbox" name="cooking_Skills" value="Jedi Chef"> Jedi Chef <br>
  <input type="checkbox" name="cooking_Skills" value="Wine Guy"> Wine Guy <br>
  <input type="checkbox" name="cooking_Skills" value="I know how to fry an egg"> I know how to fry an egg <br>
  <input type="checkbox" name="cooking_Skills" value="Padawan Chef">Padawan Chef<br>

<p> Change my Quote: {{Quote}}  </p>
  
  <label for="">Resume yourself in one quote:</label>
  <input type="text" name="Quote">
  <button type="submit">ADD</button>
</form>

</div>

