<h2> EVENT LIST </h2>

<h1> Choose your Co Meal that you want to go </h1>

<h1>{{title}}</h1>
<ul>
  {{#each events}}
  <li>
    <h5>
    <a href="/events/{{ this._id }}">
     <p> {{ this.title }} </p>, 
    When: {{ this.date }} <br />,
   CO MEAL attendees: {{ this.capacity }}  <br />,
      Where: {{ this.place }} <br />,
   Recipe:   {{ this.recipe }} <br />,
  Description: {{ this.comment }},  
    </a>
    {{!-- - {{ this.capacity }} --}}
    <a href="/events/{{ this._id }}/edit">
      Edit
    </a>
    <form action="/events/{{ this._id }}/delete" method="POST">
      <button> Delete </button>
    </form>
    </h5>
  </li>
  {{/each}}
</ul>
</a>
