<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="../">
      <img src="/images/logo.png" width="100" height="120" alt="logo">
    </a>
  </nav>
</header>
<section class="event-ctn-det">
  <div class="bkg-card">
    <div class="card-event-det">
      <div class="ctn-details">
        <h2> {{ event.title }} </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Recipe: {{ event.recipe }}</li>
          <li class="list-group-item">When: {{ event.date }}</li>
          <li class="list-group-item">Where: {{ event.place }}</li>
          <li class="list-group-item">CO MEAL attendees: {{ event.capacity }}</li>  
        </ul>
      </div>
        <img src="{{event.imgPath}}"/>
    </div> 
  </div>
  <div class="card-text">
    <p>Description: {{ event.comment }}</p>
    <a href="/events" class="style-btn btn-padd">Back to Events Inventory</a> 
  </div>
  
</section>