<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="../">
      <img src="/images/logo.png" width="100" height="120" alt="logo">
    </a>
  </nav>
</header>
<section>
    {{!-- {{#each events}} --}}
<div>

<p>testeeee</p>    
<h5> {{ event.title }} </h5>
    <img src="{{event.imgPath}}"/>
          <p class="card-text">Description: {{ event.comment }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Recipe: {{ event.recipe }}</li>
          <li class="list-group-item">When: {{ event.date }}</li>
          <li class="list-group-item">Where: {{ event.place }}</li>
          <li class="list-group-item">CO MEAL attendees: {{ event.capacity }}</li>  
        </ul>
{{ event.contacts }}

<select name="recipe" id="recipeSelect" class="custom-select"><br/>
      <option selected>Choose a recipe to cook</option>
      {{#each recipes}}
        <option value="{{this.title}}">{{this.title}}</option>
      {{/each}}
    </select>

<a href="/events/event-edit">Update event</a>

<a href="/events">
  Back to Events Inventory
</a> 
 {{!-- {{/each}} --}}
 
</section>